*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #464646;
    background-position: center center;
}
#logo{
    width: 100px;
    height: 100px;
}
.main-div{
    width:auto;
    margin-top:  20px;
    align-content: center;
    justify-content: center;
}
.insider{
    width: 300px;
    height: 500px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.082);
    border-radius: 20px;
    padding: 20px;
    margin-inline: auto;
}
.one-line{
    display: flex;
    flex-direction: row;
    height: 70px;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.082);
}
.one-half{
    display: flex;
    flex-direction: column;
    height: 70px;
    border-right: 1px solid black;
    width:  70px;
    margin-right: 10px;
}
#network{
    margin-bottom: 10px;
    height: 10px;
    color: black;
}
#logo{
    height: 45px;
    width: 60px;
}
.two-half{
    display: flex;
    flex-direction: column;
    height: 70px;
    margin-right: 10px;
    padding-left: 12px;
}
#submit{
    background-color: green;
    color: black;
    border: 1px solid white;
    height: 45px;
    width: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4 ease;
    margin-left: 100px;
    margin-top: 20px;
}
#submit:hover{
    transform: scale(1.1);
    background-color: white;
    border: 3px solid green;
    color: green;
    text-decoration: underline solid;
}
#result{
    font-size: 20px;
    color: black;
}

